# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
*.pem

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Zip archives
*.zip

# Python virtual envs
venv/
.env/
.venv/
